<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="public/css/style.css">
    <link src="<%= bot.user.displayAvatarURL() %>">
    <title>
        <%= bot.user.username %>
    </title>
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="<%= bot.user.displayAvatarURL() %>" class="img-brand" width="30" height="30" />
                <%= bot.user.username %>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="https://github.com/JeanD56/Bot-Discord">
                    Documentation
                </a>

                <a class="navbar-item" href="/commands">
                    commands
                </a>

                <a class="navbar-item"
                    href="https://discord.com/api/oauth2/authorize?client_id=423887705064079360&permissions=-1&redirect_uri=http%3A%2F%2Flocalhost%3A3030%2Fcallback&scope=bot%20applications.commands">
                    invite
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <%if (!user) { %>
                        <div class="buttons">
                            <a class="button is-warning" href="./login">
                                Connection
                            </a>
                        </div>
                    <% } else { %>
                        <div class="dropdown is-right is-hoverable">
                            <div class="dropdown-trigger">
                                <span>
                                    <span class="icon-text">
                                        <img src="<%= users.cache.get(user.id).displayAvatarURL({dynamic: true, format: 'png', size: 128}) %>" class="img-brand" width="30" height="30" />
                                        <span><strong><%= users.cache.get(user.id).tag %></strong></span>
                                        <span class="icon is-small">
                                            <i class="fas fa-angle-down"></i>
                                        </span>
                                    </span>
                                </span>
                                <span class="icon is-small">
                                    <i class="fas fa-home" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="/guilds" class="dropdown-item">
                                        Serveurs
                                    </a>
                                    <a href="/dashboard" class="dropdown-item">
                                        Dashboard
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a href="/logout" class="dropdown-item is-active">
                                        Deconnection
                                    </a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>
    