<%- include('./helpers/header');%>

    <% if (!user){%>
        <%- include('./helpers/404');%>
    <%} else { %>
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <% for(const guild of user.guilds){
                        if(guild.owner) {%>
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        <%= guild.name %>
                                    </p>
                                    <button class="card-header-icon" aria-label="more options">
                                        <span class="icon">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </header>
                                <div class="card-image">
                                    <figure class="image is-square">
                                        <img class="is-rounded" src="
                                            <%if(bot.guilds.cache.get(guild.id).iconURL({dynamic: true, format: 'png'})){%>
                                                <%= bot.guilds.cache.get(guild.id).iconURL({dynamic: true, format: 'png', size: 128}) %>
                                            <% }else{ %>
                                                <%= users.cache.get(user.id).displayAvatarURL({dynamic: true, format: 'png', size: 128}) %>
                                            <% } %>                                            
                                            " class = "image is-64x64">
                                    </figure>
                                </div>
                                <footer class="card-footer">
                                    <a href="#" class="card-footer-item">Join</a>
                                </footer>
                                
                            </div>
                        <% } %>
                    <%}%>
                    
                </div>
            </div>
        </section>
    <% } %>

<%- include('./helpers/footer');%>